  /* Universal select */
  * {
    margin: 0;
    box-sizing: border-box;
}
/* === css variables === */
:root {
    --header-bg-color: rgb(122, 61, 236);
    --textarea-bg-color: rgb(250, 246, 246);
    --body-bg-color: rgb(210, 214, 210);
        --body-bg-color: rgb(246, 239, 250);
    --nav-link-color: #bbb;
}

/* CSS html  */
html{
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}

body {
    background: var(--body-bg-color);
    margin: auto;
    line-height: 1.75;
    font-weight: 900;
    word-spacing: 1.5px;
    font-family: 'Lato', sans-serif;
    line-height: 160%;
    margin:0 0 150px 0;
    font-family: Raleway;
}

/* CSS for the header part */
header,footer {
  background: var(--header-bg-color);
  padding: 20px;
  text-align: center;
  color:white;

}

main {

    padding: 30px 50px 30px 50px;
}
.main-wrapper{
    width: 65%;
    margin:auto;
}
.header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1 {
    margin:10px auto;
    text-transform: uppercase;
}


/* Table CSS */
table,
td,
th {
    /* border: 1px solid var(--header-bg-color); */
    border-collapse: collapse;
    font-weight: 300;
}

table {
    width: 50%;
    margin: 50 auto;
}

thead {
    background-color: rgb(135, 80, 236);
    color: white;
    font-weight: 900;
}

td {
    padding-left: 10px;
}
table {
    width: 100%;
    text-align: center;
    border: 1px solid var(--body-bg-color);
    border-collapse: collapse;
}

tr {
    background-color: #f8f8f8;
    border: 1px solid var(--body-bg-color);
    padding: .35em;

}
tbody tr,
tbody td {
    padding: .625em;
    text-align: center;
}
thead tr th {
    background: var(--header-bg-color);
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 15px;
    color: white;
    font-weight: 900;
}

/* Footer css */
footer {
  position: absolute;
  bottom: 0;;
  width: 100%;;

}
.footer-wrapper > div a {
  margin:25px;
}


textarea{
display: block;
padding:20px;
width: 100%;
border-radius: 5px;
line-height: 170%;
border:none;
outline: none;;
}

select {
    width:100%;
    padding:10px;
    border-radius: 3px;
    margin:15px auto;
    border: 1px solid rgba(var(--header-bg-color), 0.75);
    outline: 1px solid rgba(var(--header-bg-color), 0.75)

}
select:focus {
    border: 1px solid rgba(var(--header-bg-color), 0.75);
    outline: 1px solid rgba(var(--header-bg-color), 0.75)
}

textarea:hover {
  /* border: 1px solid var(--header-bg-color); */
  border: 0;
  box-shadow: inset 0 0 5px var(--header-bg-color)
}
.btn{
  padding:10px 50px;
  margin: 20px 0;
  background:var(--header-bg-color);
  color:white;
  border: 2px solid var(--header-bg-color);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 900;
  text-transform: uppercase;
  
}
#summary {
    background-color: var(--header-bg-color);
    padding:25px;
    color:white;
    font-weight: 400;
    border-top-left-radius: 25px;
    border-top-right-radius: 8px;
    border-bottom-right-radius:25px;
    margin-bottom: 10px;
}
em {
    color:rgb(16, 230, 16);
    font-weight: 900;
}
@media (max-width:768px){
    body {
        margin:0;
    }
    #title {
        font-size: 1.75rem;
    }
    .main-wrapper {
        width: 100%;
        padding:0;
    }
    main {
        padding: 5px 5px 30px 5px;
        margin-bottom: 50px;
    }
    .btn{
        width: 100%;
        
      }
}